* {
    margin: 0;

    box-sizing: border-box;
  }

:root {
    --header-link: rgb(230, 213, 62);
    --header-name: #fff;
    --body-h2: #fff;
  }
  
html {
    height: 100%;
  }
  
body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif; 
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(18, 40, 93);
}
  
.header {
    background-image: url(https://ganda.com/wp-content/uploads/2017/05/robot-gif-3-1.gif);
    background-size: cover;
    width: 100%;
    max-height: 700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

figure {
        float: left;
        width: 300px;
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        margin-top: 5em;
       padding: 10px;
}

.header img {
    border-radius: 300px;
    width: 350px;
    
}

figcaption { 
    margin-left: 50px; 
    text-align: center; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 60px; 
    float: left; 
    color: var(--header-name);
    width: 250px;
}

.nav {
   font-family:Arial, Helvetica, sans-serif;
   display: block;
    font-size: 20px;
    float: right;
    color: black;
    padding-top: 0px;
    margin-right: 50px;
}

.header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    font-size: 50px;
}

.header li {
    display: inline-block;
    justify-content: space-between;
    margin: 15px;
    width: 300px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--header-link);
    text-decoration: underline;
}

.subtitle {
    font-size: 60px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sub {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   margin-left: 1600px;
   margin-top: 600px;
   width: 400px;
   } 
   
main {
    display: flex;
    flex-wrap: wrap;
}
 

h2 {
    font-size: 60px;
    color: var(--body-h2);
    display: inline-block;
    padding: 10px;
    margin:15px;
   
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    
  }
  
#sub-container-1 {
    font-size: 40px;
 
    padding: 20px;
    margin-top: 5px;
    color: var(--body-h2);
   
    width:1800px;
    margin-right: 500px;
    display: block;
    height: 300px;

}
#sub-container-2 {
    font-size: 40px;
  
    padding: 20px;
    margin:20px
    margin-top: 50px;
    color: var(--body-h2);
   
}

.img1 {
       Display: block;
       flex: wrap;
       width: 200%;
       align-items: center
   
}
 .img1:hover {
    background-color: yellow;
    
 }

.img2 {
   display: inline;
   flex:wrap;

}
.img2:hover {
    background-color: yellow;

}
#sub-container-3 {
    font-size: 40px;
   
    padding: 20px;
    margin-top: 5px;
    color: var(--body-h2);

    width:1800px;
    margin-right: 500px;
    display: inline-block;
    height: 300px;
}

#contact-list {
    font-size: 40px;
    padding: 20px;
    margin-top: 5px;
    width:1800px;
    margin-right: 500px;
    height: 90px;
    
}
 
#contact-list li a {
    
    padding: 10px;
    margin:10px;
    color: white;
    text-align: row;
}
 